<div class="body">
  <div class="input">
    <input type="search"  [(ngModel)]="search">
  </div>
  <div class="container">
    <div
      class="product"
      *ngFor="let product of products | filter: search as folder"
    >
      <img src="{{ product.img }}" alt="{}" />
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <span>{{ product.votes_count }}</span>
        <p>{{ product.brand }}</p>
      </div>

      
    </div>
  </div>
  <div class="text" *ngIf="(products | filter: search) == 0">Not Found</div>
</div>
